@import "tailwindcss";

@font-face {
  font-family: "TestDie-Grotesk-VF";
  src: url("/TestDieGroteskVF-Roman.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TestDie-Grotesk-VF";
  src: url("/TestDieGroteskVF-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EKModenaMono-Regular";
  src: url("/EKModenaMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #1e1e1e;
  --foreground: #ededed;
  --font-grotesk: "TestDie-Grotesk-VF", "Test Die Grotesk VF", system-ui, sans-serif;
  --font-enduro: "Enduro-Medium", "Enduro Medium", system-ui, sans-serif;
  --font-mono: "EKModenaMono-Regular", "EK Modena Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-mono);
  --font-grotesk: var(--font-grotesk);
  --font-enduro: var(--font-enduro);
}

body {
  min-height: 100vh;
  background: #0a0a0a;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre,
pre > code {
  background: #000 !important;
}
